*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    height:10vh ;
    /*background-color: aquamarine;  */ 
    margin: 0 auto;
    padding: 0 5rem;
}
nav .logo{
    display: flex;
    font-size: 2rem;
    align-items: center; /* the iucon and the text are in same line*/ 
}
nav .logo i {
    color: rgb(80, 8, 197);
    padding-left: 0.75rem;
}
nav .logo h4{
    font-family:'Times New Roman', Times, serif;
}
nav .nav-items{
    display: flex;
    list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav .nav-items .nav-item{
    padding:  0 1rem;
}
nav .nav-link{
    text-decoration: none;
    color: #4e547e;
    font-size:  1.4rem;
}
nav .nav-link:hover{
    color: #6e1adc;
}
/* hero section */

.hero{
    background-color:whitesmoke ;
}
.hero-section{
    max-width: 1366px;
    height:90vh ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;

}
.hero-section .content{
    display: flex;
    flex-direction: column;
}
.hero-section h4{
    color: #7308ff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.hero-section h1{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.hero-section p{
    color: rgb(29, 29, 29);
    font-size: 1.4rem;
}
.btn{
width: 10rem;
margin-top: 3rem;
border-radius: 0.5rem;
outline: none;
border: none;
padding: 0.75rem 1.5rem;
background-color: #762dd5;

}
.btn:hover{
    background-color: #8a57cc;
    cursor: pointer;
}
    .btn a{
        text-decoration: none;
        color: white;
        font-size: 1.3rem;

    }


    /* features section */
    section.features{
        padding: 2rem 0;
        background-color:whitesmoke ;
    }
    section.features .features-section{
        max-width: 1366px;
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .features-section h4{
        color: #762dd5;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
    .features-section .qualities{
        display: flex;
        justify-content: space-between;
    }
    .features-section .qualities .quality{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 2rem;
        max-width: 17rem;
        border-radius: 1rem;
        margin: 1rem;       
    }
    .features-section .qualities .quality:hover{
        border: 2px solid #762dd5;
        background-color: rgb(229, 221, 221);
        cursor: pointer;
    }
    .qualities .quality i{
        color: #762dd5;
    }
    .qualities .quality h3{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .qualities .quality p{
        font-size: 1.2rem;
        text-align: center;
    }

    
    /* phones section */
    .newest-phones {
        padding-top: 5rem;
    }
    .newest-phones .phones-section{
        max-width: 1366px;
        margin: 0 auto;
        padding: 0 5rem;
        display: flex;
        flex-direction: column;
        
    }
    .phones-section h4{
        color:  #762dd5;
        font-size: 1.6rem;
        margin-bottom: 2rem;
 
   }
   .phones-section .phones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
   }
   .phones .phone{
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .phone img{
    margin-bottom: 1rem;
   }   
   .phone img:hover{
    scale: 1.1;
  /*cursor: pointer; */
   }
   .phone h3{
    font-size: 1.6rem;
    font-family: sans-serif;
   }
   .phones-section {
    text-align: center;
}
   .phones-section button{
    width: 15rem;
    margin-bottom: 1rem;
    align-self: center; /*error*/
    margin-bottom: 1rem;
   }

       /* footer section */
footer{
    background-color: #f8f7fc;
    height: 15vh;
    margin-top: 5rem;
    padding: 2rem 0;
}
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
}
.footer-section p{
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
.footer-section .socials{
    margin-bottom: 1rem;
}

.footer-section .socials i{
    padding: 0 0.5rem;
    font-size: 1.6rem;
}
.footer-section .socials i:hover{
color: #6e1adc;
cursor: pointer;
scale: 1.2;
}

/* responsive design*/